RECAPTCHA_SITE_KEY={YOUR_RECAPTCHA_SITE_KEY}
RECAPTCHA_SECRET_KEY={YOUR_RECAPTCHA_SECRET_KEY}
FIREBASE_TYPE={YOUR_FIREBASE_TYPE}
FIREBASE_PROJECT_ID={YOUR_FIREBASE_PROJECT_ID}
FIREBASE_PRIVATE_KEY_ID={YOUR_FIREBASE_PRIVATE_KEY_ID}
FIREBASE_PRIVATE_KEY={YOUR_FIREBASE_PRIVATE_KEY}
FIREBASE_CLIENT_EMAIL={YOUR_FIREBASE_CLIENT_EMAIL}
FIREBASE_CLIENT_ID={YOUR_FIREBASE_CLIENT_ID}
FIREBASE_AUTH_URI={YOUR_FIREBASE_AUTH_URI}
FIREBASE_TOKEN_URI={YOUR_FIREBASE_TOKEN_URI}
FIREBASE_AUTH_PROVIDER_X509_CERT_URL={YOUR_FIREBASE_AUTH_PROVIDER_X509_CERT_URL}
FIREBASE_CLIENT_X509_CERT_URL={YOUR_FIREBASE_CLIENT_X509_CERT_URL}
FIREBASE_UNIVERSE_DOMAIN={YOUR_FIREBASE_UNIVERSE_DOMAIN}